body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
    margin: 0 auto;
    max-width: 767px;
    padding: 0 1rem;
}

.rub {
  display: flex;
}

.rub::after {
   content: "₽";
   display: flex;
   flex-grow: 0;
   flex-shrink: 0;
   font: inherit;
   padding-left: .25rem;
 }
